body{
    background: #64b6e6;
}
#divrodape{
  background-color: white;
}

h1{
  font-style: arial;
  font-weight: 500;
  color: rgb(0, 0, 0);
  display: inline-block;
}
  h2{
    display: inline-block;
  }
#divBusca{
    background-color:#0000007e;
    border:solid 3px;
    border-radius:15px;
    width:300px;
    display: inline-flex;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }
  .link-as-button {
    appearance: button;
    padding: 5px 18px;
    background-color: grey;
    border: none;
    color: white;
    text-decoration: none;
  }
  .entrada-saida{
    appearance: button;
    padding: 5px 18px;
    background-color: grey;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
  }
  .mapa-responsivo{
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
    display: inline-block;
  }
  .mpapa-responsivo iframe{
    left: 100%;
    top: 0;
    height:0;
    width: 0;
    position: absolute;
  }
